.parag1{
    width: 80%;
    height: 100%;
    margin: auto auto 3% auto;
}

.text2{
    color: white;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    margin: auto auto 5% auto;
}

.parag2{
    width: 80%;
    height: 100%;
    margin: auto auto 3% auto;
    text-indent: 2%;
}

.text3{
    color: white;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
}