/* f12 dps ctrl + shift + c para pegar os elementos  */


.navbar-light .navbar-brand {
  color: #fff !important;
}

 /* a {
    color: #fff !important;
    text-decoration: underline;
  
}   */

.link{
  color: #fff;
  text-decoration: none;
} 